click
codecov
eventlet
flask-socketio
future
jinja2
markdown
msgpack-python
numpy
pandas
plotlywrapper
pydocstyle
pycodestyle
git+git://github.com/PyCQA/pylint@1.8#pylint
pytest
pytest-cov
pytest-pylint
selenium
