click
codecov
eventlet
flask-socketio
future
git+git://github.com/PyCQA/pylint@1.8#pylint
jinja2
markdown
msgpack-python
numpy
pandas
plotlywrapper
pycodestyle
pydocstyle
pytest
pytest-cov
pytest-pylint
selenium
sphinx
sphinxcontrib-spelling
