astor
click
codecov
eventlet
flask-socketio
future
jinja2
markdown
matplotlib
msgpack-python
numpy
pandas
plotlywrapper
pycodestyle
pydocstyle
pylint
pytest
pytest-cov
pytest-pylint
selenium
sphinx
sphinxcontrib-spelling
