click
codecov
eventlet
flask-socketio
future
ipython
jinja2
markdown
matplotlib
msgpack-python
notebook
numpy
pandas
plotlywrapper
pycodestyle
pydocstyle
pylint
pytest
pytest-cov
pytest-pylint
requests
selenium
sphinx
sphinxcontrib-spelling
