click
codecov
eventlet
flask-socketio
ipython
jinja2
markdown
matplotlib
msgpack
mypy
notebook
numpy
pandas
plotlywrapper
pycodestyle
pydocstyle
pylint
pytest
pytest-codestyle
pytest-cov
pytest-mypy
pytest-pylint
requests
selenium
sphinx
sphinxcontrib-spelling
