click
codecov
eventlet
flask-socketio
ipython
jinja2
markdown
matplotlib
msgpack-python
mypy
notebook
numpy
pandas
plotlywrapper
pycodestyle
pydocstyle
pylint
pytest
pytest-cov
pytest-pylint
requests
selenium
sphinx
sphinxcontrib-spelling
